{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('registration_register') }}
{% endblock %}

{% block post_javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('registration_register') }}
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                {% for flashError in app.flashes('verify_email_error') %}
                    <div class="alert alert-danger" role="alert">{{ flashError }}</div>
                {% endfor %}

                <h1>Création de compte</h1>

                {{ form_start(registrationForm) }}
                {{ form_row(registrationForm.username, {
                    label: 'Courriel'
                }) }}
                {{ form_row(registrationForm.plainPassword, {
                    label: 'Mot de passe'
                }) }}


                <button class="btn btn-lg btn-primary" type="submit">Créer un compte</button>
                {{ form_end(registrationForm) }}
            </div>
        </div>
    </div>
{% endblock %}

